APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://api.sushigo.local

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=mydb
DB_USERNAME=admin
DB_PASSWORD=admin

CACHE_STORE=database
# CACHE_PREFIX=

LOGIN_WITH_DEVDEBUG=false
DEV_LOGIN_ALLOWED_ENVIRONMENTS=dev,devtest
CLOCK_SIMULATION_ENABLED=false
PAYROLL_SEED_ENABLED=false
